rounds-plot,
symbols-plot {
  	font: $font-style-normal;
	.bar {
		rect {
			height: 0;
			transform: scale(1,-1);
			transition: height 1s;
	  		/*fill: steelblue;*/
	  		shape-rendering: crispEdges;
	  	}
	  	text {
	  		opacity: 0;
	  		transition: opacity 1s;
		  	fill: #000;
		}
	}
	.axis path, .axis line {
	  fill: none;
	.x-axis {
		.color-symbol{
			@extend colors-mixin;
		}
	}
/*	  stroke: #000;
	  shape-rendering: crispEdges;*/
	}
}
lands-in-hand-plot {
	.lands-text,
	.lands-count {
		font: $font-style-bold;
	}
	.lands-text {
		font-size: 12pt;
	}
	.lands-count {
		font-size: 26pt;
	}
	.segment {
		transition: fill 0.3s;
		&.active {
			fill: #E91E63;
		}
	}
}
.plot-container {
	padding: 20px;
	margin-top: 20px;
	margin-right: 20px;
	flex: 1;
	&.rounds {
		flex: 2;
	}

		

	&.symbols,
	&.lands {
		/**/
	}
}
.results-container {
	display: flex;
	flex-direction: column;
	.plot-container {
		@include material-shadow(1);
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $color-paper;
		.title {
			padding: 20px 0;
			@include material-h3;
		}
	}
	.additional-info-container {
		margin: 20px 20px 40px 40px;
		display: flex;
		align-items: stretch;
		flex-direction: row;
		justify-content: space-between;
	}
	.lands-combinations-container,
	.round-numbers-container {
		margin-right: 20px;
		background-color: $color-paper;
		@include material-shadow(1);
		display: flex;
		flex-direction: column;
		padding: 20px;
		flex: 8;
		
		.title {
			padding: 20px 0;
			@include material-h3;
		}
	}
	.round-numbers-container {
		flex: 200px 1 0;
	}
}
.plots-wrap {
	display: flex;
	flex-direction: row;
	margin: 20px 20px 0 40px;
	flex-wrap: wrap;
}
.lands-combinations-container {
	flex: 1;
	align-items: center;
	.combinations-container {
		flex-wrap: wrap;
		display: flex;
		flex-direction: row;
		.combination {	
			@include material-card;
			flex-shrink: 0;
			padding: 20px;
			position: relative;
			flex-direction: column;
			flex: 1;
		}
		.pairs-holder {
			display: flex;
			flex-wrap: wrap;
			.land-in-combination{
				flex: 1;
			}
		}
		land-item {
			min-width: 120px;
			flex: 1;
			display: flex;
			flex-direction: row;
			align-items: center;
			font: $font-style-normal;
			.info {
				flex-shrink: 0;
			}
			.count {
					font-size: 24pt;
					margin-right: 10px;
				}
			.sub-info {
				font-size: 10pt;
				display: flex;
				flex-direction: row;
				align-items: center;
				.color-item {
					@extend colors-mixin;
					height: 15px;
					width: 15px;
					border-radius: 50%;
					margin: 2px;
					float: left;
					
				}
				.type {
					margin-left: 4px;
					color: $color-subtext;
				}
			}
		}
		.persentage {
			margin-top: 10px;
			font: $font-style-normal;
			font-size: 24pt;
			text-align: center;
		}
	}

}
.round-numbers-container {
	.number-block {
		margin-left: 10px;
		.header {
			@include material-h3;
			
			font-size: 12pt;
			padding: 10px 0;
		}
		.text {
			margin-left: 10px;
			padding-bottom: 2px;
			font: $font-style-normal;
			color: $color-text;
		}
	}
	
}