@import 'mixins/colors-mixin.scss';
@import 'mixins/pallete-mixin.scss';
@import 'mixins/material-mixin.scss';
@import 'mixins/fonts-mixin.scss';


.colors-inputs-container {
	
	order: 1;
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 20px;

	.color-item {
		@include material-card;
		width: 180px;
		/*height: 150px;*/
		/*flex: 250px 1 0;*/
		position: relative;
		.icon {
			@extend colors-mixin;
			height: 15px;
			width: 15px;
			margin-right: 20px;
			border-radius: 50%;
		}
		.info-tab {
			padding: 0 12px;
			align-items: center;
		}
		.text {
			@include material-normal-text;
		}
		.count {
			order: 1;
			font-size: 24pt;
			margin: auto 10px;
			align-self: flex-start;
		}
		.actions {
			order: 2;
			.plus,
			.minus {
				@include material-icon-button;
			}
		}

		
	}
}
.colors-inputs-container-wrapper {
	@include material-shadow(1);
	display: flex;
	background-color: $color-paper;
	flex-direction: column;
	padding: 30px;
	.colors-inputs-title {
		@include material-h3;
	}
}
.colors-display-container {
	order: 2;
	display: flex;
	padding: 20px;
	flex: 1;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	.color-items {
		
	/*	height: 250px;
		width: 200px;*/
		display: flex;
		flex-direction: row;
		justify-content: center;
		.color-item{
			@extend colors-mixin;
			@extend color-hover-animation;
			margin: 20px;
			min-height: 40px;
			min-width: 40px;
			border: 1px solid #000;
			border-radius: 4px;
			flex: 1; 
			position: relative;
		}
		
	}
}
.colors-wrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 40px;
	/*justify-content: space-around;*/
}