@import 'mixins/pallete-mixin.scss';
@import 'mixins/material-mixin.scss';

body,
html {
	margin: 0;
	min-height: 100%;
}
html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: stretch;

}
header {
	
	order: 1;
	flex: 50px 0;
	z-index: 3;
	display: flex;
	flex-direction: row;
	.logo-block {
		flex: 300px 0;
		background-color: $color-paper;
		border-bottom: 1px solid $color-background;
	}
	.header-block {
		flex: 1;
		@include material-shadow(1);
		background-color: $color-accent;
	}
}
footer {
	display: none;
}

.container {
	z-index: 1;
	order: 2;
	flex: 1;
	display: flex;
	flex-direction: row;
	
	.side-panel {
		@include material-shadow(1);
		background-color: $color-paper;
		order: 1;
		flex: 300px 0 0;
		z-index: 2;
		
	}
	.content {
		background-color: $color-background;
		order: 2;
		flex: 1;
		display: flex;
		flex-direction: column;
		div[ui-view] {
			display: flex;
			flex-direction: column;
			flex: 1;
		}
		
		/*background-color: #bbb;*/
	}
}
.mc-image {
	opacity: 0;
	transition: opacity 0.3s;
}
button {
	-webkit-appearance: none;
}

