@import 'mixins/colors-mixin.scss';
@import 'mixins/pallete-mixin.scss';
@import 'mixins/material-mixin.scss';
@import 'mixins/fonts-mixin.scss';

.info-container {
	padding: 16px;
	.segment-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		.segment-title {
			@include material-h3;
			margin-left: 10px;
			font-size: 12pt;
		}
	}
	
	.lands-container {
		
		display: flex;
		flex-direction: column;
		padding: 30px 0;
		border-bottom: 1px solid #ddd;
		.land-item {
			/*border-bottom: 1px solid #ddd;*/
			display: flex;
			flex-direction: row;
			position: relative;
			align-items: center;
			padding: 10px 0;
			land-item {
				flex: 1;
				display: flex;
				flex-direction: row;
				align-items: center;
				font: $font-style-normal;
				.count {
					font-size: 24pt;
					margin-right: 10px;
				}
				.sub-info {
					font-size: 10pt;
					display: flex;
					flex-direction: row;
					align-items: center;
					.color-item {
						@extend colors-mixin;
						height: 10px;
						width: 10px;
						border-radius: 50%;
						margin: 2px;
						float: left;
						
					}
					.type {
						margin-left: 4px;
						color: $color-subtext;
					}
				}
			}
			.actions {
				display: flex;
				flex-direction: row;
				.plus,
				.minus {
					@include material-icon-button;
				}
			}
		}
	}
	.colors-container {

		display: flex;
		flex-direction: column;
		padding: 30px 0;
		border-bottom: 1px solid #ddd;
		.colors-items-wrapper{
			display: flex;
			flex-direction: row;
			align-items: center;
    		justify-content: center;
    		flex-wrap: wrap;
		
			.color-items {
				@include color-items;
			}
		}
	}

	.action-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		padding: 10px;
		.action-btn {
			@include material-raised-button($color-accent);
		}
	}

}
