@import 'mixins/pallete-mixin.scss';
@import 'mixins/material-mixin.scss';
@import 'mixins/fonts-mixin.scss';

.lands-wrapper {

	margin: 40px;
	$color-inactive-filter: #aaa;
	$color-active-filter: #26596A;
	display: flex;
	flex-direction: column;
	align-items: stretch;


	.lands-container {
		background-color: $color-paper;
		@include material-shadow(1);
		z-index: 5;
		margin-bottom: 30px;
		order: 2;
		display: flex;
		margin: 20px;
		flex-direction: row;
		align-content: space-around;
		flex-wrap: wrap;
		justify-content: center;
		padding: 10px;
		overflow: hidden;

		.land-item {
			@include material-card;
			width: 180px;
			height: 250px;
			position: relative;
			flex-direction: column-reverse;
			overflow: hidden;
	
			.land-image-holder {
				height: 135px;
				overflow: hidden;
				z-index: 1;
				box-sizing: border-box;
				order: 1;
				
			}
			.land-image {
				height: 135px;
				position: relative;
			    background: url(http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=404499&type=card);
			    background-position: -17px -36px;
			    z-index: 1;
			}
			.tabs-holder {
				z-index: 3;
				max-width: 200px;
				.info-tab {
					order: 1;
				    display: flex;
				    flex-direction: row;
				    padding: 10px;
				    box-sizing: border-box;
				    align-content: flex-start;
				    align-items: center;
				}
				.actions-tab {
					order: 2;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-content: center;
					margin: 8px;
				}
				.count {
					order: 1;
					font-size: 24pt;
					margin: auto 10px;
					align-self: flex-start;
				}
				.actions {
					order: 2;	
					display: flex;
					flex-direction: row;			
					.plus,
					.minus {
						@include material-icon-button;
						order: 2;
					}
				}
				.info {
					flex: 1;
					order: 2;
					.title {
						font-size: 14pt;
						margin-right: 10px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					.type {
						font-size: 10pt;
					}
				}
			}
			
		}
	}

	.filters {
		@include material-shadow(1);
		background-color: $color-paper;
		margin: 0 20px 10px 20px;
		padding: 30px;
		display: flex;
		flex-direction: column;
		order: 1;
		.filters-header {
			@include material-h3;
		}
		.filter-colors,
		.filter-types {
			/*height: 60px;*/
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;
			.filter-type-header {
				@include material-h3;
			}
			.filter-item {
				color: $color-active-filter;
				@include material-flat-button(lighten($color-active-filter, 10%));
				margin-right: 8px;

				&.active {
					@include material-flat-button($color-active-filter);
					background-color: lighten($color-active-filter, 10%);
					color: #fff;
				}
			}
		}
		.filter-colors {
			margin-top: 8px;
			margin-bottom: 4px;
		}
		.filter-types {
			margin-bottom: 8px;
		}
		.filter-color {
			background-color: #fafafa;
		}
		.filter-type {
			background-color: #fafafa;
		}
	}
	
}