@import 'mixins/pallete-mixin.scss';
@import 'mixins/material-mixin.scss';
@import 'mixins/fonts-mixin.scss';
@import 'mixins/colors-mixin.scss';

.lands-wrapper {

	margin: 40px;
	$color-inactive-filter: #aaa;
	$color-active-filter: #26596A;
	display: flex;
	flex-direction: column;
	align-items: stretch;


	.lands-container {
		background-color: $color-paper;
		@include material-shadow(1);
		z-index: 5;
		margin-bottom: 30px;
		order: 2;
		display: flex;
		flex-direction: row;
		align-content: space-around;
		flex-wrap: wrap;
		justify-content: center;
		padding: 10px;
		overflow: hidden;

		.land-item {
			@include material-card;
			width: 180px;
			height: 240px;
			position: relative;
			flex-direction: column-reverse;
			overflow: hidden;
	
			.land-image-holder {
				flex: 125px 0 0;
				/*flex: 135px 0 0;*/
				overflow: hidden;
				z-index: 1;
				box-sizing: border-box;
				order: 1;
				
			}
			.land-image {
				height: 135px;
				position: relative;
			    /*background-image: url(http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=404499&type=card);*/
			    background-position: -18px -36px;
			    z-index: 1;
			}
			.tabs-holder {
				flex: 1;
				z-index: 3;
				max-width: 200px;
				.info-tab {
				    flex-direction: column;
				}
				.count {
					order: 1;
					font-size: 24pt;
					margin: auto 10px;
					align-self: flex-start;
				}
				.actions {
					box-sizing: border-box;
					order: 2;	
					display: flex;
					flex-direction: row;			
					.plus,
					.minus {
						@include material-icon-button;
						order: 2;
					}
				}
				.info {
					/*flex: 1;*/
					order: 1;
					.title {
						font-size: 14pt;
						margin-right: 10px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
				.sub-info {
					order: 2;
					display: flex;
					flex-direction: row;
					align-items: center;
					color: $color-subtext;
					.type {
						font-size: 10pt;
					}
					.color-items {
						@include color-items;

						.color-item {
							margin-right: 2px;
							height: 15px;
							width: 15px;
						}
					}
				}
			}
			
		}
	}

	.filters {
		@include material-shadow(1);
		background-color: $color-paper;
		margin-bottom: 10px;
		padding: 30px;
		display: flex;
		flex-direction: column;
		order: 1;
		.filters-header {
			@include material-h3;
		}
		.filter-colors,
		.filter-types {
			/*height: 60px;*/
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;
			.filter-type-header {
				@include material-h3;
			}
			.filter-item {
				color: $color-accent;
				@include material-flat-button(lighten($color-accent, 10%));
				margin-right: 8px;

				&.active {
					@include material-flat-button($color-accent);
					background-color: lighten($color-accent, 10%);
					color: #fff;
				}
			}
		}
		.filter-colors {
			margin-top: 8px;
			margin-bottom: 4px;
		}
		.filter-types {
			margin-bottom: 8px;
		}
		.filter-color {
			background-color: #fafafa;
		}
		.filter-type {
			background-color: #fafafa;
		}
	}
	
}