<!doctype html>

<html lang="en" ng-app='app'>
<head>
  <meta charset="utf-8">
  <base href='/'>
  <title>Manacheck</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- build:section layout.analytics -->
  <!-- /build -->
</head>

<body ng-controller="bodyController as bodyCtrl" ng-style="bodyCtrl.bodyStyle">
  <header class='main-header'>
    <a class='logo-block' ng-href='/'>
        manacheck
    </a>
    <div class='header-block'>
      <button class='header-block__menu' 
        ng-click='bodyCtrl.toggleMenu()'
        ng-class='{"header-block__menu--open": bodyCtrl.isMenuOpen}'>
        <i class="material-icons">{{bodyCtrl.isMenuOpen ? 'close' : 'menu'}}</i>
      </button>
    </div>
  </header>

  <div class='container'>
    <div class="side-panel-wrapper" ng-show='bodyCtrl.isMenuOpen'
        ng-click='bodyCtrl.toggleMenu()'>
          <div ui-view="side" class='side-panel' ng-click='$event.stopPropagation()'>
          </div>
    </div>
    <div ui-view="main" class='content'>
    </div>
  </div>
  <div class='plot'>
  </div>
  <footer>
  </footer>
  <!-- build:style bundle -->
  <!-- /build -->
	<!-- build:script bundle -->
  <!-- /build -->
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
</body>
</html>