colors-mixin {
	&.red {
		/*background-color: #ff0000;*/
		background-image: url(../images/symbols/png/red.png);
	}
	&.blue {
		/*background-color: #0000ff;*/
		background-image: url(../images/symbols/png/blue.png);
	}
	&.green {
		/*background-color: #00ff00;*/
		background-image: url(../images/symbols/png/green.png);
	}
	&.white {
		/*background-color: #ffffff;
		border: 1px solid #000;
		box-sizing: border-box;
    	padding: 2px;*/
    	background-image: url(../images/symbols/png/white.png);
	}
	&.black {
		/*background-color: #000000;*/
		background-image: url(../images/symbols/png/black.png);
	}
	&.colorless {
		/*background-color: #FFFDD0;*/
		background-image: url(../images/symbols/png/colorless.png);
	}
	&.generic {
		background-color: #999999;
	}
}

color-hover-animation {
	.hover-block {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border-radius: 50%;
		opacity: 0;
		background-color: rgba(35,35,35, 0.5);
		z-index: -1;
		display: flex;
		transition: opacity 0.3s;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.plus, 
		.minus {
			height: 100%;
			cursor: pointer;
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			z-index: 6;

			&:hover {
				svg {
					fill : #fff;
				}
				
			}
			.svg-holder {
				box-sizing: border-box;
				height: 80%;
			}
			svg {
				fill: #000;
				transition: fill 0.3s;
				box-sizing: border-box;
				width: 100%;
			    height: 100%;
			    padding: 1px;
			}
		}
	}
	&:hover {
		.hover-block {
			opacity: 1;
			z-index: 5;
		}
	}
}

@mixin color-items {
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	.color-item {
		@extend colors-mixin;
		@extend color-hover-animation;
		position: relative;
		height: 15px;
		border-radius: 50%;
		width: 15px;
		/*border: 1px solid #000;*/
		/*margin: 5px;*/

	}
}

$color-material-border: #ddd;