@import 'fonts-mixin.scss';

@mixin material-shadow($level: 1) {
  @if $level == 1 {box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);} 
  @else if $level == 2 {box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
  @else if $level == 3 {box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
  @else if $level == 4 {box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
  @else if $level == 5 {box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}
  @else if $level == 0 {box-shadow: none;}
}

@mixin material-lift-item {
	box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.15), 
		-1px 3px 20px 4px rgba(0, 0, 0, 0.15),
		0 6px 6px rgba(0, 0, 0, 0.20);
}
@mixin material-normal-text {
	margin: 0;
    font: $font-style-normal;
    font-size: 12pt;
    color: $color-text;
}
@mixin material-h3 {
	margin: 0;
    font: $font-style-normal;
    font-size: 14pt;
    color: $color-subtext;
}

@mixin material-raised-button($color) {
	@include material-shadow(1);
	//reset
	outline: none;
	border: none;
	cursor: pointer;
	//paddings
	padding: 10px 16px;
	border-radius: 2px;
	//colors
	color: rgba(255,255,255, 0.88);
	background-color: $color;
	//font
	font: $font-style-normal;
	text-transform: uppercase;
	//display
	display: flex;
	align-items: center;
	//transition
	transition: background-color 0.2s, box-shadow 0.2s;
	i {
		margin-left: -5px;
		margin-right: 5px;
		transition: none !important;
		height: 24px;
		&.rotate {
			animation: spin 1.5s ease-out infinite;
			-webkit-animation: spin 1.5s ease-out infinite;
			@-webkit-keyframes spin { 
		        from { 
		            -webkit-transform: rotate(0deg); 
		        } to { 
		            -webkit-transform: rotate(360deg); 
		        }
		    }
		    @keyframes spin { 
		        from { 
		            transform: rotate(0deg); 
		        } to { 
		            transform: rotate(360deg); 
		        }
		    }
		}
		&.ng-hide {
			opacity: 0;
			display: none;
		}
	}
	&:hover:not(:disabled) {
		background-color: darken($color, 5%);
	}
	&:active {
		@include material-lift-item;
		color: rgba(255,255,255, 0.88);
	}
	&:disabled{
		@include material-shadow(0);
		background-color: $color-button-disabled;
		color: rgba(255,255,255, 0.7);
		cursor: default;
	}
}

@mixin material-flat-button($color) {
	//reset
	outline: none;
	border: none;
	cursor: pointer;
	//paddings
	padding: 6px 8px;
	border-radius: 2px;
	//colors
	background-color: transparent;
	//font
	font: $font-style-bold;
	text-transform: uppercase;
	//transition
	transition: background-color 0.2s, color 0.2s;
	&:hover:not(:disabled) {
		background-color: lighten($color, 30%);
	}

	&:active {
		/*@include material-button-focus-shadow;*/
		color: $color;
	}
	&:disabled{
		opacity: 0.7;
		cursor: default;
	}
}
@mixin flat-material-card {
	// container
	display: flex;
	flex-direction: column;
	// poisition
	margin: 8px 4px 0 4px;
    // fonts
	font: $font-style-normal;
	color: #000;
	// transitions
	transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
	// children
	.tabs-holder {
    	display: flex;
    	flex-direction: column;
    	padding: 10px;
	}
	.info-tab {
		order: 1;
	    display: flex;
	    flex-direction: row;
	    box-sizing: border-box;
	    align-content: flex-start;
	    padding: 0 8px;
	}
	.actions-tab {
		order: 2;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
		margin-top: 8px;
	}
}
@mixin material-card {
	@include material-shadow(1);
	@include flat-material-card;
	border-radius: 3px;
	// animations
	&.ng-enter {
		transform: scale(0,0);
		&.ng-enter-active {
			transform: scale(1,1);
		}
	}
	&.ng-leave {
		transform: scale(1,1);
		&.ng-leave-active{
			transform: scale(0,0);
		}
	}
	&.ng-move {
		opacity: 0;
		&.ng-move-active {
			opacity: 1;
		}
	}
	&.ng-enter-stagger,
	.ng-leave-stager,
	.ng-move-stager {
		-webkit-transition-delay: 0.05s;
		transition-delay: 0.05s;
		-webkit-transition-duration: 0s;
		transition-duration:0;
	}
	&:hover {
		@include material-lift-item;
		.hover-block,
		.controls-holder {
			opacity: 1;
			z-index: 5;
		}
	}
}

@mixin material-icon-button {
	// resetting default button css
	padding: 0;
	outline: none;
	border: none;
	background: none;

	color: lighten(#000, 20%);
	cursor: pointer;
	opacity: 0.9;
	transition: color 0.3s, opacity 0.3s;
	i {
		font-size: 26pt;
	}
	&:disabled{
		cursor: default;
		opacity: 0.3;
	}
	&:hover:not(:disabled) {
		color: #000;
		opacity: 1;
	};
}

@mixin material-select {
	font: $font-style-normal;
	color: $color-subtext;
	.select-block {
		display: block;
		margin-top: 10px;
		position: relative;
		align-self: flex-start;

		input {
			padding: 10px 2px;
			text-align: center;
			cursor: pointer;
			outline: none;
			display: block;
			border: 1px solid #999;
			transition: background-color 0.3s, color 0.3s;
			&:hover {
				@include material-shadow(1);
				background-color: lighten($color-accent, 45%);
			}
		}
		.select-options {

			@include material-shadow(1);
			/*display: none;*/
			/*transform: scale(1,0);*/
			overflow: hidden;
			max-height: 0;
			position: absolute;
			top: 0;
			width: 100%;
			/*max-width: 0;*/
			z-index: 10;
			opacity: 1;
			background-color: $color-paper;
			transition: max-height 0.3s;
			&.active {
				/*border: 1px inset rgb(238, 238, 238);*/
				max-height: 200px;
			}
			&.ng-hide {
				/*transform: scale(0,0);*/
			}
			.option {
				text-align: center;
				padding: 12px 4px;
				z-index: 10;
				border-bottom: 1px solid #ddd;
				cursor: pointer;
				&:last-child {
					border-bottom: none;
				}
				&:hover {
					background-color: #f0f0f0;
				}
				&.selected {
					color: #fff;
					background-color: lighten($color-accent, 30%);
				}

			}
		}
	}
}

@mixin material-action {
	display: flex;
    align-items: center;
    font: $font-style-normal;
    .action-text {
    	text-transform: uppercase;
    }
}