<div class='lands-wrapper'>
	<div class='filters'>
		<h3 class='filters-header'> Filters </h3>
		<div class='filter-colors'>

			<!-- <div class='filter-type-header'>By color:</div> -->
			<div class='filter-color filter-item' 
				ng-repeat='color in landsCtrl.colorsList'
				ng-class='{active: landsCtrl.isActiveFilter(landsCtrl.colorsFilter, color)}'
				ng-click = 'landsCtrl.toggleFilter(landsCtrl.colorsFilter, color)'>
				{{color}}
			</div>
		</div>
		<div class='filter-types'>
			<!-- <div class='filter-type-header'>By type:</div> -->
			<div class='filter-type filter-item' ng-repeat='type in landsCtrl.typesList'
				ng-class='{active: landsCtrl.isActiveFilter(landsCtrl.typesFilter, type)}'
				ng-click = 'landsCtrl.toggleFilter(landsCtrl.typesFilter, type)'>
				{{type}}
			</div>
		</div>
	</div>
	<div class='lands-container' lands-helper>

		<div ng-repeat='land in landsCtrl.landsList | colorsFilter: landsCtrl.colorsFilter | typesFilter: landsCtrl.typesFilter' 
			class='land-item'>
			<div class='land-image-holder'>
				<div class='land-image'>
				</div>

			</div>
			<div class='tabs-holder'>

				<div class='info-tab'>
					
					<div class='info'>
						<div class='title' title='{{land.title}}'>
							{{land.title}}
						</div>
					</div>
					<div class='sub-info'>	
						<div class='type'>
							{{land.type}}
						</div>
						<div class='color-items'>
							<div class='color-item {{color}}' 
								ng-repeat='color in land.colors'>
							</div>
						</div>
					</div>
					
					
				</div>
				<div class='actions-tab'>
					<div class='count'>
						{{llCtrl.getLandCount(land) || ""}} 
					</div>
					<div class='actions'>
						<button class='plus' 
						ng-click='llCtrl.addLand(land)'
						ng-disabled= '!llCtrl.canAddLand(land)'>
							<i class="material-icons">&#xE145;</i>
						</button>
						<button class='minus' 
							ng-click='llCtrl.removeLand(land)'
							ng-disabled='!llCtrl.canRemoveLand(land)'>
							<i class="material-icons">&#xE15B;</i>
						</button>
					</div>
						
				</div>
			</div>
		</div>
	</div>
</div>