<div class='info-container'>
	<div class='lands-container' lands-helper>
		<div class='segment-header'>
			<h3 class='segment-title' > 
				Lands ({{llCtrl._lands.count}}) 
			</h3>
			<a ui-sref='Base.Lands'>
				edit
			</a>
		</div>
		<div class='land-item' ng-repeat='land in llCtrl._lands.lands'>
			<land-item land-id="land.id" land-count="land.value">
			</land-item>
			<div class='actions'>
				<button class='plus' 
				ng-click='llCtrl.addLand(land)'
				ng-disabled= '!llCtrl.canAddLand(land)'>
					<i class="material-icons">&#xE145;</i>
				</button>
				<button class='minus' 
					ng-click='llCtrl.removeLand(land)'
					ng-disabled='!llCtrl.canRemoveLand(land)'>
					<i class="material-icons">&#xE15B;</i>
				</button>
			</div>
			<!-- <div class='plus'
				ng-click='llCtrl.removeLand(land)'
				ng-show='llCtrl.canRemoveLand(land)'>
				<div class='svg-holder'>
					<svg>
						<use xlink:href="images/actions.svg#minus">
						</use>
					</svg>
				</div>
			</div>
			<div class='minus'
				ng-click='llCtrl.addLand(land)'
				ng-show='llCtrl.canAddLand(land)'>
				<div class='svg-holder'>
					<svg>
						<use xlink:href="images/actions.svg#plus">
						</use>
					</svg>
				</div>
			</div> -->
			
		</div>
	</div>

	<div class='colors-container' colors-helper>
		<div class='segment-header'>
			<h3 class='segment-title' > 
				Colors ({{chCtrl.colors.count}}) 
			</h3>
			<a ui-sref='Base.Colors'>
				edit
			</a>
		</div>
		<div class='colors-items-wrapper'>
			<div class='color-items' ng-repeat='item in chCtrl.colors.colors'>
				<div class='color-item {{item.color}}' 
					ng-repeat='i in chCtrl.range(item.value) track by $index'>
		
					<div class='hover-block'>
						<div class='minus' 
							ng-click='chCtrl.addColor(item.color,-1)'>
							<div class='svg-holder'>
								<svg>
									<use xlink:href="images/actions.svg#minus">
									</use>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class='action-container'>
		<button class='action-btn' ng-click='infoCtrl.submitData()'>
		Compute
		</button>
	</div>
</div>