.info-container {
	padding: 16px;
	.segment-header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		.segment-title {
			@include material-h3;
			margin-left: 10px;
			font-size: 13pt;
		}
		.actions {
			display: flex;
			div {
				margin-right: 5px;
				color: $color-accent;
				@include material-flat-button(lighten($color-accent, 10%));
			}
		}
	}
	.lands-container,
	.colors-container,
	.types-container,
	.cards-number-container {
		padding: 30px 0;
		border-bottom: 1px solid #ddd;
	}
	.lands-container {
		display: flex;
		flex-direction: column;
		.land-item {
			/*border-bottom: 1px solid #ddd;*/
			display: flex;
			flex-direction: row;
			position: relative;
			align-items: center;
			padding: 10px 0;
			transition: opacity 0.3s, transform 0.2s;

			&.ng-enter {
				opacity: 0;
				transform: scale(1,0);
				&.ng-enter-active {
					opacity: 1;
					transform: scale(1,1);
				}
			}
			&.ng-leave {
				opacity: 1;
				transform: scale(1,1);
				&.ng-leave-active {
					opacity: 0;
					transform: scale(1,0);
				}
			}
			land-item {
				flex: 1;
				display: flex;
				flex-direction: row;
				align-items: center;
				font: $font-style-normal;
				.count {
					font-size: 24pt;
					margin-right: 10px;
				}
				.sub-info {
					font-size: 10pt;
					display: flex;
					flex-direction: row;
					align-items: center;
					.color-item {
						@extend colors-mixin;
						height: 15px;
						width: 15px;
						border-radius: 50%;
						margin: 2px;
						float: left;
						
					}
					.type {
						margin-left: 4px;
						color: $color-subtext;
					}
				}
			}
			.actions {
				display: flex;
				flex-direction: row;
				.plus,
				.minus {
					@include material-icon-button;
				}
			}
		}
	}
	.colors-container {
		display: flex;
		flex-direction: column;
		.colors-items-wrapper{
			display: flex;
			flex-direction: row;
			align-items: center;
    		justify-content: center;
    		flex-wrap: wrap;
		
			.color-items {
				@include color-items;
			}
		}
	}
	.types-container,
	.cards-number-container {
		@include material-select;
		
	}
	.action-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		padding: 10px;
		.action-btn {
			@include material-raised-button($color-accent);
		}
	}

}
