colors-mixin.red, .colors-inputs-container .color-item .red.icon, .colors-display-container .color-items .red.color-item {
  background-color: #ff0000; }
colors-mixin.blue, .colors-inputs-container .color-item .blue.icon, .colors-display-container .color-items .blue.color-item {
  background-color: #0000ff; }
colors-mixin.green, .colors-inputs-container .color-item .green.icon, .colors-display-container .color-items .green.color-item {
  background-color: #00ff00; }
colors-mixin.white, .colors-inputs-container .color-item .white.icon, .colors-display-container .color-items .white.color-item {
  background-color: #ffffff;
  border: 1px solid #000; }
colors-mixin.black, .colors-inputs-container .color-item .black.icon, .colors-display-container .color-items .black.color-item {
  background-color: #000000; }
colors-mixin.colorless, .colors-inputs-container .color-item .colorless.icon, .colors-display-container .color-items .colorless.color-item {
  background-color: #FFFDD0; }
colors-mixin.generic, .colors-inputs-container .color-item .generic.icon, .colors-display-container .color-items .generic.color-item {
  background-color: #999999; }

color-hover-animation .hover-block, .colors-display-container .color-items .color-item .hover-block {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0;
  background-color: rgba(35, 35, 35, 0.5);
  z-index: -1;
  display: flex;
  transition: opacity 0.3s;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  color-hover-animation .hover-block .plus, .colors-display-container .color-items .color-item .hover-block .plus,
  color-hover-animation .hover-block .minus,
  .colors-display-container .color-items .color-item .hover-block .minus {
    height: 100%;
    cursor: pointer;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 6; }
    color-hover-animation .hover-block .plus:hover svg, .colors-display-container .color-items .color-item .hover-block .plus:hover svg,
    color-hover-animation .hover-block .minus:hover svg,
    .colors-display-container .color-items .color-item .hover-block .minus:hover svg {
      fill: #fff; }
    color-hover-animation .hover-block .plus .svg-holder, .colors-display-container .color-items .color-item .hover-block .plus .svg-holder,
    color-hover-animation .hover-block .minus .svg-holder,
    .colors-display-container .color-items .color-item .hover-block .minus .svg-holder {
      box-sizing: border-box;
      height: 80%; }
    color-hover-animation .hover-block .plus svg, .colors-display-container .color-items .color-item .hover-block .plus svg,
    color-hover-animation .hover-block .minus svg,
    .colors-display-container .color-items .color-item .hover-block .minus svg {
      fill: #000;
      transition: fill 0.3s;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 1px; }
color-hover-animation:hover .hover-block, .colors-display-container .color-items .color-item:hover .hover-block {
  opacity: 1;
  z-index: 5; }

.colors-inputs-container {
  order: 1;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px; }
  .colors-inputs-container .color-item {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    margin: 8px 4px 0 4px;
    border-radius: 3px;
    font: 400 12pt "Roboto";
    color: #000;
    transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
    width: 180px;
    /*height: 150px;*/
    /*flex: 250px 1 0;*/
    position: relative; }
    .colors-inputs-container .color-item.ng-enter {
      transform: scale(0, 0); }
      .colors-inputs-container .color-item.ng-enter.ng-enter-active {
        transform: scale(1, 1); }
    .colors-inputs-container .color-item.ng-leave {
      transform: scale(1, 1); }
      .colors-inputs-container .color-item.ng-leave.ng-leave-active {
        transform: scale(0, 0); }
    .colors-inputs-container .color-item.ng-move {
      opacity: 0; }
      .colors-inputs-container .color-item.ng-move.ng-move-active {
        opacity: 1; }
    .colors-inputs-container .color-item.ng-enter-stagger,
    .colors-inputs-container .color-item .ng-leave-stager,
    .colors-inputs-container .color-item .ng-move-stager {
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s;
      -webkit-transition-duration: 0s;
      transition-duration: 0; }
    .colors-inputs-container .color-item:hover {
      box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.15), -1px 3px 20px 4px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.2); }
      .colors-inputs-container .color-item:hover .hover-block,
      .colors-inputs-container .color-item:hover .controls-holder {
        opacity: 1;
        z-index: 5; }
    .colors-inputs-container .color-item .tabs-holder {
      display: flex;
      flex-direction: column; }
    .colors-inputs-container .color-item .info-tab {
      order: 1;
      display: flex;
      flex-direction: row;
      padding: 10px;
      box-sizing: border-box;
      align-content: flex-start;
      align-items: center; }
    .colors-inputs-container .color-item .actions-tab {
      order: 2;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      margin: 8px; }
    .colors-inputs-container .color-item .icon {
      height: 40px;
      width: 40px;
      margin-right: 20px;
      border-radius: 50%; }
    .colors-inputs-container .color-item .text {
      margin: 0;
      font: 400 12pt "Roboto";
      font-size: 12pt;
      color: #111; }
    .colors-inputs-container .color-item .count {
      order: 1;
      font-size: 24pt;
      margin: auto 10px;
      align-self: flex-start; }
    .colors-inputs-container .color-item .actions {
      order: 2; }
      .colors-inputs-container .color-item .actions .plus,
      .colors-inputs-container .color-item .actions .minus {
        padding: 0;
        outline: none;
        border: none;
        background: none;
        color: #333333;
        cursor: pointer;
        opacity: 0.9;
        transition: color 0.3s, opacity 0.3s; }
        .colors-inputs-container .color-item .actions .plus i,
        .colors-inputs-container .color-item .actions .minus i {
          font-size: 26pt; }
        .colors-inputs-container .color-item .actions .plus:disabled,
        .colors-inputs-container .color-item .actions .minus:disabled {
          cursor: default;
          opacity: 0.3; }
        .colors-inputs-container .color-item .actions .plus:hover:not(:disabled),
        .colors-inputs-container .color-item .actions .minus:hover:not(:disabled) {
          color: #000;
          opacity: 1; }

.colors-inputs-container-wrapper {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  background-color: #fff;
  flex-direction: column;
  padding: 30px; }
  .colors-inputs-container-wrapper .colors-inputs-title {
    margin: 0;
    font: 400 12pt "Roboto";
    font-size: 14pt;
    color: #666; }

.colors-display-container {
  order: 2;
  display: flex;
  padding: 20px;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .colors-display-container .color-items {
    /*	height: 250px;
    	width: 200px;*/
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .colors-display-container .color-items .color-item {
      margin: 20px;
      min-height: 40px;
      min-width: 40px;
      border: 1px solid #000;
      border-radius: 4px;
      flex: 1;
      position: relative; }

.colors-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 40px;
  /*justify-content: space-around;*/ }
