body,
html {
  margin: 0;
  min-height: 100%; }

html {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch; }

header {
  order: 1;
  flex: 50px 0;
  z-index: 3;
  display: flex;
  flex-direction: row; }
  header .logo-block {
    flex: 300px 0;
    background-color: #fff;
    border-bottom: 1px solid #E0E0E0; }
  header .header-block {
    flex: 1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #3F51B5; }

footer {
  display: none; }

.container {
  z-index: 1;
  order: 2;
  flex: 1;
  display: flex;
  flex-direction: row; }
  .container .side-panel {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #fff;
    order: 1;
    flex: 300px 0;
    z-index: 2; }
  .container .content {
    background-color: #E0E0E0;
    order: 2;
    flex: 1;
    display: flex;
    flex-direction: column;
    /*background-color: #bbb;*/ }
    .container .content div[ui-view] {
      display: flex;
      flex-direction: column;
      flex: 1; }

.plot {
  font: 10px sans-serif; }
  .plot .bar rect {
    height: 0;
    transform: scale(1, -1);
    transition: height 1s;
    fill: steelblue;
    shape-rendering: crispEdges; }
  .plot .bar text {
    opacity: 0;
    transition: opacity 1s;
    fill: #000; }
  .plot .axis path, .plot .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges; }
