.errors-container {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  font: 400 12pt "Roboto";
  align-items: center;
  background-color: #fff; }
  .errors-container .title {
    padding: 20px 0;
    margin: 0;
    font: 400 12pt "Roboto";
    font-size: 14pt;
    color: #666; }
  .errors-container .error-description {
    padding: 2px; }
    .errors-container .error-description .count,
    .errors-container .error-description .color {
      font-weight: 700; }
  .errors-container .navigation {
    margin-top: 30px; }
    .errors-container .navigation .nav-button {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      outline: none;
      border: none;
      cursor: pointer;
      padding: 10px 16px;
      border-radius: 2px;
      color: rgba(255, 255, 255, 0.88);
      background-color: #3F51B5;
      font: 400 12pt "Roboto";
      text-transform: uppercase;
      display: flex;
      align-items: center;
      transition: background-color 0.2s, box-shadow 0.2s;
      margin-right: 8px; }
      .errors-container .navigation .nav-button i {
        margin-left: -5px;
        margin-right: 5px;
        transition: none !important;
        height: 24px; }
        .errors-container .navigation .nav-button i.rotate {
          animation: spin 1.5s ease-out infinite;
          -webkit-animation: spin 1.5s ease-out infinite; }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
        .errors-container .navigation .nav-button i.ng-hide {
          opacity: 0;
          display: none; }
      .errors-container .navigation .nav-button:hover:not(:disabled) {
        background-color: #3849a2; }
      .errors-container .navigation .nav-button:active {
        box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.15), -1px 3px 20px 4px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.2);
        color: rgba(255, 255, 255, 0.88); }
      .errors-container .navigation .nav-button:disabled {
        box-shadow: none;
        background-color: #cccccc;
        color: rgba(255, 255, 255, 0.7);
        cursor: default; }
