colors-mixin.red, .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .color-items .red.color-item {
  background-color: #ff0000; }
colors-mixin.blue, .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .color-items .blue.color-item {
  background-color: #0000ff; }
colors-mixin.green, .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .color-items .green.color-item {
  background-color: #00ff00; }
colors-mixin.white, .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .color-items .white.color-item {
  background-color: #ffffff;
  border: 1px solid #000;
  box-sizing: border-box;
  padding: 2px; }
colors-mixin.black, .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .color-items .black.color-item {
  background-color: #000000; }
colors-mixin.colorless, .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .color-items .colorless.color-item {
  background-color: #FFFDD0; }
colors-mixin.generic, .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .color-items .generic.color-item {
  background-color: #999999; }

color-hover-animation .hover-block, .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .color-items .color-item .hover-block {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0;
  background-color: rgba(35, 35, 35, 0.5);
  z-index: -1;
  display: flex;
  transition: opacity 0.3s;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  color-hover-animation .hover-block .plus, .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .color-items .color-item .hover-block .plus,
  color-hover-animation .hover-block .minus,
  .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .color-items .color-item .hover-block .minus {
    height: 100%;
    cursor: pointer;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 6; }
    color-hover-animation .hover-block .plus:hover svg, .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .color-items .color-item .hover-block .plus:hover svg,
    color-hover-animation .hover-block .minus:hover svg,
    .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .color-items .color-item .hover-block .minus:hover svg {
      fill: #fff; }
    color-hover-animation .hover-block .plus .svg-holder, .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .color-items .color-item .hover-block .plus .svg-holder,
    color-hover-animation .hover-block .minus .svg-holder,
    .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .color-items .color-item .hover-block .minus .svg-holder {
      box-sizing: border-box;
      height: 80%; }
    color-hover-animation .hover-block .plus svg, .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .color-items .color-item .hover-block .plus svg,
    color-hover-animation .hover-block .minus svg,
    .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .color-items .color-item .hover-block .minus svg {
      fill: #000;
      transition: fill 0.3s;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 1px; }
color-hover-animation:hover .hover-block, .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .color-items .color-item:hover .hover-block {
  opacity: 1;
  z-index: 5; }

.lands-wrapper {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  .lands-wrapper .lands-container {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 5;
    margin-bottom: 30px;
    order: 2;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    overflow: hidden; }
    .lands-wrapper .lands-container .land-item {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      display: flex;
      flex-direction: column;
      margin: 8px 4px 0 4px;
      border-radius: 3px;
      font: 400 12pt "Roboto";
      color: #000;
      transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
      width: 180px;
      height: 240px;
      position: relative;
      flex-direction: column-reverse;
      overflow: hidden; }
      .lands-wrapper .lands-container .land-item.ng-enter {
        transform: scale(0, 0); }
        .lands-wrapper .lands-container .land-item.ng-enter.ng-enter-active {
          transform: scale(1, 1); }
      .lands-wrapper .lands-container .land-item.ng-leave {
        transform: scale(1, 1); }
        .lands-wrapper .lands-container .land-item.ng-leave.ng-leave-active {
          transform: scale(0, 0); }
      .lands-wrapper .lands-container .land-item.ng-move {
        opacity: 0; }
        .lands-wrapper .lands-container .land-item.ng-move.ng-move-active {
          opacity: 1; }
      .lands-wrapper .lands-container .land-item.ng-enter-stagger,
      .lands-wrapper .lands-container .land-item .ng-leave-stager,
      .lands-wrapper .lands-container .land-item .ng-move-stager {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
        -webkit-transition-duration: 0s;
        transition-duration: 0; }
      .lands-wrapper .lands-container .land-item:hover {
        box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.15), -1px 3px 20px 4px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.2); }
        .lands-wrapper .lands-container .land-item:hover .hover-block,
        .lands-wrapper .lands-container .land-item:hover .controls-holder {
          opacity: 1;
          z-index: 5; }
      .lands-wrapper .lands-container .land-item .tabs-holder {
        display: flex;
        flex-direction: column;
        padding: 10px; }
      .lands-wrapper .lands-container .land-item .info-tab {
        order: 1;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        align-content: flex-start;
        padding: 0 8px; }
      .lands-wrapper .lands-container .land-item .actions-tab {
        order: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        margin-top: 8px; }
      .lands-wrapper .lands-container .land-item .land-image-holder {
        flex: 125px 0 0;
        /*flex: 135px 0 0;*/
        overflow: hidden;
        z-index: 1;
        box-sizing: border-box;
        order: 1; }
      .lands-wrapper .lands-container .land-item .land-image {
        height: 135px;
        position: relative;
        /*background-image: url(http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=404499&type=card);*/
        background-position: -18px -36px;
        z-index: 1; }
      .lands-wrapper .lands-container .land-item .tabs-holder {
        flex: 1;
        z-index: 3;
        max-width: 200px; }
        .lands-wrapper .lands-container .land-item .tabs-holder .info-tab {
          flex-direction: column; }
        .lands-wrapper .lands-container .land-item .tabs-holder .count {
          order: 1;
          font-size: 24pt;
          margin: auto 10px;
          align-self: flex-start; }
        .lands-wrapper .lands-container .land-item .tabs-holder .actions {
          box-sizing: border-box;
          order: 2;
          display: flex;
          flex-direction: row; }
          .lands-wrapper .lands-container .land-item .tabs-holder .actions .plus,
          .lands-wrapper .lands-container .land-item .tabs-holder .actions .minus {
            padding: 0;
            outline: none;
            border: none;
            background: none;
            color: #333333;
            cursor: pointer;
            opacity: 0.9;
            transition: color 0.3s, opacity 0.3s;
            order: 2; }
            .lands-wrapper .lands-container .land-item .tabs-holder .actions .plus i,
            .lands-wrapper .lands-container .land-item .tabs-holder .actions .minus i {
              font-size: 26pt; }
            .lands-wrapper .lands-container .land-item .tabs-holder .actions .plus:disabled,
            .lands-wrapper .lands-container .land-item .tabs-holder .actions .minus:disabled {
              cursor: default;
              opacity: 0.3; }
            .lands-wrapper .lands-container .land-item .tabs-holder .actions .plus:hover:not(:disabled),
            .lands-wrapper .lands-container .land-item .tabs-holder .actions .minus:hover:not(:disabled) {
              color: #000;
              opacity: 1; }
        .lands-wrapper .lands-container .land-item .tabs-holder .info {
          /*flex: 1;*/
          order: 1; }
          .lands-wrapper .lands-container .land-item .tabs-holder .info .title {
            font-size: 14pt;
            margin-right: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
        .lands-wrapper .lands-container .land-item .tabs-holder .sub-info {
          order: 2;
          display: flex;
          flex-direction: row;
          align-items: center;
          color: #666; }
          .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .type {
            font-size: 10pt; }
          .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .color-items {
            display: flex;
            flex-direction: row; }
            .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .color-items .color-item {
              position: relative;
              height: 20px;
              border-radius: 50%;
              width: 20px;
              /*border: 1px solid #000;*/
              margin: 5px; }
            .lands-wrapper .lands-container .land-item .tabs-holder .sub-info .color-items .color-item {
              margin-right: 2px;
              height: 15px;
              width: 15px; }
  .lands-wrapper .filters {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #fff;
    margin-bottom: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    order: 1; }
    .lands-wrapper .filters .filters-header {
      margin: 0;
      font: 400 12pt "Roboto";
      font-size: 14pt;
      color: #666; }
    .lands-wrapper .filters .filter-colors,
    .lands-wrapper .filters .filter-types {
      /*height: 60px;*/
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap; }
      .lands-wrapper .filters .filter-colors .filter-type-header,
      .lands-wrapper .filters .filter-types .filter-type-header {
        margin: 0;
        font: 400 12pt "Roboto";
        font-size: 14pt;
        color: #666; }
      .lands-wrapper .filters .filter-colors .filter-item,
      .lands-wrapper .filters .filter-types .filter-item {
        color: #3F51B5;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 6px 8px;
        border-radius: 2px;
        background-color: transparent;
        font: 500 12pt "Roboto";
        text-transform: uppercase;
        transition: background-color 0.2s, color 0.2s;
        margin-right: 8px; }
        .lands-wrapper .filters .filter-colors .filter-item:hover:not(:disabled),
        .lands-wrapper .filters .filter-types .filter-item:hover:not(:disabled) {
          background-color: #d1d6ef; }
        .lands-wrapper .filters .filter-colors .filter-item:active,
        .lands-wrapper .filters .filter-types .filter-item:active {
          /*@include material-button-focus-shadow;*/
          color: #606fc7; }
        .lands-wrapper .filters .filter-colors .filter-item:disabled,
        .lands-wrapper .filters .filter-types .filter-item:disabled {
          opacity: 0.7;
          cursor: default; }
        .lands-wrapper .filters .filter-colors .filter-item.active,
        .lands-wrapper .filters .filter-types .filter-item.active {
          outline: none;
          border: none;
          cursor: pointer;
          padding: 6px 8px;
          border-radius: 2px;
          background-color: transparent;
          font: 500 12pt "Roboto";
          text-transform: uppercase;
          transition: background-color 0.2s, color 0.2s;
          background-color: #606fc7;
          color: #fff; }
          .lands-wrapper .filters .filter-colors .filter-item.active:hover:not(:disabled),
          .lands-wrapper .filters .filter-types .filter-item.active:hover:not(:disabled) {
            background-color: #abb4e2; }
          .lands-wrapper .filters .filter-colors .filter-item.active:active,
          .lands-wrapper .filters .filter-types .filter-item.active:active {
            /*@include material-button-focus-shadow;*/
            color: #3F51B5; }
          .lands-wrapper .filters .filter-colors .filter-item.active:disabled,
          .lands-wrapper .filters .filter-types .filter-item.active:disabled {
            opacity: 0.7;
            cursor: default; }
    .lands-wrapper .filters .filter-colors {
      margin-top: 8px;
      margin-bottom: 4px; }
    .lands-wrapper .filters .filter-types {
      margin-bottom: 8px; }
    .lands-wrapper .filters .filter-color {
      background-color: #fafafa; }
    .lands-wrapper .filters .filter-type {
      background-color: #fafafa; }
