.lands-wrapper {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  .lands-wrapper .lands-container {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 5;
    margin-bottom: 30px;
    order: 2;
    display: flex;
    margin: 20px;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    overflow: hidden; }
    .lands-wrapper .lands-container .land-item {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      display: flex;
      flex-direction: column;
      margin: 8px 4px 0 4px;
      border-radius: 3px;
      font: 400 12pt "Roboto";
      color: #000;
      transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
      width: 180px;
      height: 250px;
      position: relative;
      flex-direction: column-reverse;
      overflow: hidden; }
      .lands-wrapper .lands-container .land-item.ng-enter {
        transform: scale(0, 0); }
        .lands-wrapper .lands-container .land-item.ng-enter.ng-enter-active {
          transform: scale(1, 1); }
      .lands-wrapper .lands-container .land-item.ng-leave {
        transform: scale(1, 1); }
        .lands-wrapper .lands-container .land-item.ng-leave.ng-leave-active {
          transform: scale(0, 0); }
      .lands-wrapper .lands-container .land-item.ng-move {
        opacity: 0; }
        .lands-wrapper .lands-container .land-item.ng-move.ng-move-active {
          opacity: 1; }
      .lands-wrapper .lands-container .land-item.ng-enter-stagger,
      .lands-wrapper .lands-container .land-item .ng-leave-stager,
      .lands-wrapper .lands-container .land-item .ng-move-stager {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
        -webkit-transition-duration: 0s;
        transition-duration: 0; }
      .lands-wrapper .lands-container .land-item:hover {
        box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.15), -1px 3px 20px 4px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.2); }
        .lands-wrapper .lands-container .land-item:hover .hover-block,
        .lands-wrapper .lands-container .land-item:hover .controls-holder {
          opacity: 1;
          z-index: 5; }
      .lands-wrapper .lands-container .land-item .tabs-holder {
        display: flex;
        flex-direction: column; }
      .lands-wrapper .lands-container .land-item .info-tab {
        order: 1;
        display: flex;
        flex-direction: row;
        padding: 10px;
        box-sizing: border-box;
        align-content: flex-start;
        align-items: center; }
      .lands-wrapper .lands-container .land-item .actions-tab {
        order: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        margin: 8px; }
      .lands-wrapper .lands-container .land-item .land-image-holder {
        height: 135px;
        overflow: hidden;
        z-index: 1;
        box-sizing: border-box;
        order: 1; }
      .lands-wrapper .lands-container .land-item .land-image {
        height: 135px;
        position: relative;
        background: url(http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=404499&type=card);
        background-position: -17px -36px;
        z-index: 1; }
      .lands-wrapper .lands-container .land-item .tabs-holder {
        z-index: 3;
        max-width: 200px; }
        .lands-wrapper .lands-container .land-item .tabs-holder .info-tab {
          order: 1;
          display: flex;
          flex-direction: row;
          padding: 10px;
          box-sizing: border-box;
          align-content: flex-start;
          align-items: center; }
        .lands-wrapper .lands-container .land-item .tabs-holder .actions-tab {
          order: 2;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-content: center;
          margin: 8px; }
        .lands-wrapper .lands-container .land-item .tabs-holder .count {
          order: 1;
          font-size: 24pt;
          margin: auto 10px;
          align-self: flex-start; }
        .lands-wrapper .lands-container .land-item .tabs-holder .actions {
          order: 2;
          display: flex;
          flex-direction: row; }
          .lands-wrapper .lands-container .land-item .tabs-holder .actions .plus,
          .lands-wrapper .lands-container .land-item .tabs-holder .actions .minus {
            padding: 0;
            outline: none;
            border: none;
            background: none;
            color: #333333;
            cursor: pointer;
            opacity: 0.9;
            transition: color 0.3s, opacity 0.3s;
            order: 2; }
            .lands-wrapper .lands-container .land-item .tabs-holder .actions .plus i,
            .lands-wrapper .lands-container .land-item .tabs-holder .actions .minus i {
              font-size: 26pt; }
            .lands-wrapper .lands-container .land-item .tabs-holder .actions .plus:disabled,
            .lands-wrapper .lands-container .land-item .tabs-holder .actions .minus:disabled {
              cursor: default;
              opacity: 0.3; }
            .lands-wrapper .lands-container .land-item .tabs-holder .actions .plus:hover:not(:disabled),
            .lands-wrapper .lands-container .land-item .tabs-holder .actions .minus:hover:not(:disabled) {
              color: #000;
              opacity: 1; }
        .lands-wrapper .lands-container .land-item .tabs-holder .info {
          flex: 1;
          order: 2; }
          .lands-wrapper .lands-container .land-item .tabs-holder .info .title {
            font-size: 14pt;
            margin-right: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .lands-wrapper .lands-container .land-item .tabs-holder .info .type {
            font-size: 10pt; }
  .lands-wrapper .filters {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #fff;
    margin: 0 20px 10px 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    order: 1; }
    .lands-wrapper .filters .filters-header {
      margin: 0;
      font: 400 12pt "Roboto";
      font-size: 14pt;
      color: #666; }
    .lands-wrapper .filters .filter-colors,
    .lands-wrapper .filters .filter-types {
      /*height: 60px;*/
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap; }
      .lands-wrapper .filters .filter-colors .filter-type-header,
      .lands-wrapper .filters .filter-types .filter-type-header {
        margin: 0;
        font: 400 12pt "Roboto";
        font-size: 14pt;
        color: #666; }
      .lands-wrapper .filters .filter-colors .filter-item,
      .lands-wrapper .filters .filter-types .filter-item {
        color: #26596A;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 10px 12px;
        border-radius: 2px;
        background-color: transparent;
        font: 500 12pt "Roboto";
        text-transform: uppercase;
        transition: background-color 0.2s, color 0.2s;
        margin-right: 8px; }
        .lands-wrapper .filters .filter-colors .filter-item:hover:not(:disabled),
        .lands-wrapper .filters .filter-types .filter-item:hover:not(:disabled) {
          background-color: #88c1d4; }
        .lands-wrapper .filters .filter-colors .filter-item:active,
        .lands-wrapper .filters .filter-types .filter-item:active {
          /*@include material-button-focus-shadow;*/
          color: #337990; }
        .lands-wrapper .filters .filter-colors .filter-item:disabled,
        .lands-wrapper .filters .filter-types .filter-item:disabled {
          opacity: 0.7;
          cursor: default; }
        .lands-wrapper .filters .filter-colors .filter-item.active,
        .lands-wrapper .filters .filter-types .filter-item.active {
          outline: none;
          border: none;
          cursor: pointer;
          padding: 10px 12px;
          border-radius: 2px;
          background-color: transparent;
          font: 500 12pt "Roboto";
          text-transform: uppercase;
          transition: background-color 0.2s, color 0.2s;
          background-color: #337990;
          color: #fff; }
          .lands-wrapper .filters .filter-colors .filter-item.active:hover:not(:disabled),
          .lands-wrapper .filters .filter-types .filter-item.active:hover:not(:disabled) {
            background-color: #62aec7; }
          .lands-wrapper .filters .filter-colors .filter-item.active:active,
          .lands-wrapper .filters .filter-types .filter-item.active:active {
            /*@include material-button-focus-shadow;*/
            color: #26596A; }
          .lands-wrapper .filters .filter-colors .filter-item.active:disabled,
          .lands-wrapper .filters .filter-types .filter-item.active:disabled {
            opacity: 0.7;
            cursor: default; }
    .lands-wrapper .filters .filter-colors {
      margin-top: 8px;
      margin-bottom: 4px; }
    .lands-wrapper .filters .filter-types {
      margin-bottom: 8px; }
    .lands-wrapper .filters .filter-color {
      background-color: #fafafa; }
    .lands-wrapper .filters .filter-type {
      background-color: #fafafa; }
