colors-mixin.red {
  background-color: #ff0000; }
colors-mixin.blue {
  background-color: #0000ff; }
colors-mixin.green {
  background-color: #00ff00; }
colors-mixin.white {
  background-color: #ffffff;
  border: 1px solid #000; }
colors-mixin.black {
  background-color: #000000; }
colors-mixin.colorless {
  background-color: #FFFDD0; }
colors-mixin.generic {
  background-color: #999999; }

color-hover-animation .hover-block {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0;
  background-color: rgba(35, 35, 35, 0.5);
  z-index: -1;
  display: flex;
  transition: opacity 0.3s;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  color-hover-animation .hover-block .plus,
  color-hover-animation .hover-block .minus {
    height: 100%;
    cursor: pointer;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 6; }
    color-hover-animation .hover-block .plus:hover svg,
    color-hover-animation .hover-block .minus:hover svg {
      fill: #fff; }
    color-hover-animation .hover-block .plus .svg-holder,
    color-hover-animation .hover-block .minus .svg-holder {
      box-sizing: border-box;
      height: 80%; }
    color-hover-animation .hover-block .plus svg,
    color-hover-animation .hover-block .minus svg {
      fill: #000;
      transition: fill 0.3s;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 1px; }
color-hover-animation:hover .hover-block {
  opacity: 1;
  z-index: 5; }

.plot {
  font: 400 12pt "Roboto"; }
  .plot .bar rect {
    height: 0;
    transform: scale(1, -1);
    transition: height 1s;
    fill: steelblue;
    shape-rendering: crispEdges; }
  .plot .bar text {
    opacity: 0;
    transition: opacity 1s;
    fill: #000; }
  .plot .axis path, .plot .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges; }

.results-container {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff; }
  .results-container .title {
    padding: 20px 0;
    margin: 0;
    font: 400 12pt "Roboto";
    font-size: 14pt;
    color: #666; }
