colors-mixin.red, .lands-combinations-container .combinations-container land-item .sub-info .red.color-item {
  background-color: #ff0000; }
colors-mixin.blue, .lands-combinations-container .combinations-container land-item .sub-info .blue.color-item {
  background-color: #0000ff; }
colors-mixin.green, .lands-combinations-container .combinations-container land-item .sub-info .green.color-item {
  background-color: #00ff00; }
colors-mixin.white, .lands-combinations-container .combinations-container land-item .sub-info .white.color-item {
  background-color: #ffffff;
  border: 1px solid #000;
  box-sizing: border-box;
  padding: 2px; }
colors-mixin.black, .lands-combinations-container .combinations-container land-item .sub-info .black.color-item {
  background-color: #000000; }
colors-mixin.colorless, .lands-combinations-container .combinations-container land-item .sub-info .colorless.color-item {
  background-color: #FFFDD0; }
colors-mixin.generic, .lands-combinations-container .combinations-container land-item .sub-info .generic.color-item {
  background-color: #999999; }

color-hover-animation .hover-block {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0;
  background-color: rgba(35, 35, 35, 0.5);
  z-index: -1;
  display: flex;
  transition: opacity 0.3s;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  color-hover-animation .hover-block .plus,
  color-hover-animation .hover-block .minus {
    height: 100%;
    cursor: pointer;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 6; }
    color-hover-animation .hover-block .plus:hover svg,
    color-hover-animation .hover-block .minus:hover svg {
      fill: #fff; }
    color-hover-animation .hover-block .plus .svg-holder,
    color-hover-animation .hover-block .minus .svg-holder {
      box-sizing: border-box;
      height: 80%; }
    color-hover-animation .hover-block .plus svg,
    color-hover-animation .hover-block .minus svg {
      fill: #000;
      transition: fill 0.3s;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 1px; }
color-hover-animation:hover .hover-block {
  opacity: 1;
  z-index: 5; }

.rounds-plot,
.symbols-plot {
  font: 400 12pt "Roboto"; }
  .rounds-plot .bar rect,
  .symbols-plot .bar rect {
    height: 0;
    transform: scale(1, -1);
    transition: height 1s;
    fill: steelblue;
    shape-rendering: crispEdges; }
  .rounds-plot .bar text,
  .symbols-plot .bar text {
    opacity: 0;
    transition: opacity 1s;
    fill: #000; }
  .rounds-plot .axis path, .rounds-plot .axis line,
  .symbols-plot .axis path,
  .symbols-plot .axis line {
    fill: none;
    /*	  stroke: #000;
    	  shape-rendering: crispEdges;*/ }

.lands-in-hand-plot .lands-text,
.lands-in-hand-plot .lands-count {
  font: 500 12pt "Roboto"; }
.lands-in-hand-plot .lands-text {
  font-size: 12pt; }
.lands-in-hand-plot .lands-count {
  font-size: 26pt; }
.lands-in-hand-plot .segment {
  transition: opacity 0.3s;
  opacity: 0.6; }
  .lands-in-hand-plot .segment.active {
    opacity: 1; }

.plot-container {
  padding: 20px;
  margin-top: 20px;
  margin-right: 20px;
  flex: 1; }
  .plot-container.rounds {
    flex: 2; }
  .plot-container.symbols, .plot-container.lands {
    /**/ }

.results-container {
  display: flex;
  flex-direction: column; }
  .results-container .plot-container {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff; }
    .results-container .plot-container .title {
      padding: 20px 0;
      margin: 0;
      font: 400 12pt "Roboto";
      font-size: 14pt;
      color: #666; }
  .results-container .additional-info-container {
    margin: 20px 20px 40px 40px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between; }
  .results-container .lands-combinations-container,
  .results-container .round-numbers-container {
    margin-right: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1; }
    .results-container .lands-combinations-container .title,
    .results-container .round-numbers-container .title {
      padding: 20px 0;
      margin: 0;
      font: 400 12pt "Roboto";
      font-size: 14pt;
      color: #666; }

.plots-wrap {
  display: flex;
  flex-direction: row;
  margin: 20px 20px 0 40px;
  flex-wrap: wrap; }

.lands-combinations-container {
  flex: 1;
  align-items: center; }
  .lands-combinations-container .combinations-container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row; }
    .lands-combinations-container .combinations-container .combination {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      display: flex;
      flex-direction: column;
      margin: 8px 4px 0 4px;
      border-radius: 3px;
      font: 400 12pt "Roboto";
      color: #000;
      transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
      flex-shrink: 0;
      padding: 20px;
      position: relative;
      flex-direction: column;
      flex: 1; }
      .lands-combinations-container .combinations-container .combination.ng-enter {
        transform: scale(0, 0); }
        .lands-combinations-container .combinations-container .combination.ng-enter.ng-enter-active {
          transform: scale(1, 1); }
      .lands-combinations-container .combinations-container .combination.ng-leave {
        transform: scale(1, 1); }
        .lands-combinations-container .combinations-container .combination.ng-leave.ng-leave-active {
          transform: scale(0, 0); }
      .lands-combinations-container .combinations-container .combination.ng-move {
        opacity: 0; }
        .lands-combinations-container .combinations-container .combination.ng-move.ng-move-active {
          opacity: 1; }
      .lands-combinations-container .combinations-container .combination.ng-enter-stagger,
      .lands-combinations-container .combinations-container .combination .ng-leave-stager,
      .lands-combinations-container .combinations-container .combination .ng-move-stager {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
        -webkit-transition-duration: 0s;
        transition-duration: 0; }
      .lands-combinations-container .combinations-container .combination:hover {
        box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.15), -1px 3px 20px 4px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.2); }
        .lands-combinations-container .combinations-container .combination:hover .hover-block,
        .lands-combinations-container .combinations-container .combination:hover .controls-holder {
          opacity: 1;
          z-index: 5; }
      .lands-combinations-container .combinations-container .combination .tabs-holder {
        display: flex;
        flex-direction: column;
        padding: 10px; }
      .lands-combinations-container .combinations-container .combination .info-tab {
        order: 1;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        align-content: flex-start;
        padding: 0 8px; }
      .lands-combinations-container .combinations-container .combination .actions-tab {
        order: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        margin-top: 8px; }
    .lands-combinations-container .combinations-container .pairs-holder {
      display: flex;
      flex-wrap: wrap; }
      .lands-combinations-container .combinations-container .pairs-holder .land-in-combination {
        flex: 1; }
    .lands-combinations-container .combinations-container land-item {
      min-width: 120px;
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      font: 400 12pt "Roboto"; }
      .lands-combinations-container .combinations-container land-item .info {
        flex-shrink: 0; }
      .lands-combinations-container .combinations-container land-item .count {
        font-size: 24pt;
        margin-right: 10px; }
      .lands-combinations-container .combinations-container land-item .sub-info {
        font-size: 10pt;
        display: flex;
        flex-direction: row;
        align-items: center; }
        .lands-combinations-container .combinations-container land-item .sub-info .color-item {
          height: 10px;
          width: 10px;
          border-radius: 50%;
          margin: 2px;
          float: left; }
        .lands-combinations-container .combinations-container land-item .sub-info .type {
          margin-left: 4px;
          color: #666; }
    .lands-combinations-container .combinations-container .persentage {
      margin-top: 10px;
      font: 400 12pt "Roboto";
      font-size: 24pt;
      text-align: center; }

.round-numbers-container .number-block {
  margin-left: 10px; }
  .round-numbers-container .number-block .header {
    margin: 0;
    font: 400 12pt "Roboto";
    font-size: 14pt;
    color: #666;
    font-size: 12pt;
    padding: 10px 0; }
  .round-numbers-container .number-block .text {
    margin-left: 10px;
    padding-bottom: 2px;
    font: 400 12pt "Roboto";
    color: #111; }
